{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-header">Email Accounts</div>
                <div class="card-body">
                    <div class="h5">{{ list.emails.count }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
            <a href="{% url 'backup:import_csv' list.id %}" class="btn btn-lg btn-dark">Import</a>
            <a href="{% url 'backup:export_csv' list.id %}" class="btn btn-lg btn-primary mt-3">Export</a>
    </div>


</div>
{% endblock %}

