{% extends 'backend/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">ADMIN DASHBOARD</h4>
            </div>
        </div>

        <div class="row">
            <a href="{% url 'list_book' %}">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="alert alert-success back-widget-set text-center">
                        <i class="fa fa-book fa-5x"></i>
                        <h3>{{ total_books }}</h3>
                        Books Listed
                    </div>
                </div>
            </a>


            <a href="{% url 'all_requests' %}">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="alert alert-warning back-widget-set text-center">
                        <i class="fa fa-recycle fa-5x"></i>
                        <h3>{{ total_not_returned }}</h3>
                        Books Not Returned Yet
                    </div>
                </div>
            </a>

            <a href="{% url 'all_students' %}">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="alert alert-danger back-widget-set text-center">
                        <i class="fa fa-users fa-5x"></i>
                        <h3>{{ registered_user }}</h3>
                        Registered Users
                    </div>
                </div>
            </a>

            <a href="{% url 'list_cat' %}">
                <div class="col-md-3 col-sm-3 rscol-xs-6">
                    <div class="alert alert-info back-widget-set text-center">
                        <i class="fa fa-file-archive-o fa-5x"></i>

                        <h3>{{ listed_categories }}</h3>
                        Listed Categories
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
{% endblock %}