{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row">
        <h1> {{ list.name }} - Import Formatted CSV</h1>
        <hr class="m-3" />
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="mb-4">
                    <input type="file" class="form-control" name="csv_data"/>
                </div>

                <button type="submit" class="btn btn-primary"> Import CSV</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}